name: Github Slug testing
on: [push]
jobs:
  github-slug-on-os:
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - uses: ./
      - name: Partial variables
        run: |
          echo "repository owner : ${{ env.GITHUB_REPOSITORY_OWNER_PART }}"
          echo "repository name  : ${{ env.GITHUB_REPOSITORY_NAME_PART }}"
        shell: bash
      - name: Slug variables
        run: |
          echo "repository       : ${{ env.GITHUB_REPOSITORY_SLUG }}"
          echo "repository owner : ${{ env.GITHUB_REPOSITORY_OWNER_PART_SLUG }}"
          echo "repository name  : ${{ env.GITHUB_REPOSITORY_NAME_PART_SLUG }}"
          echo "ref              : ${{ env.GITHUB_REF_SLUG }}"
          echo "head ref         : ${{ env.GITHUB_HEAD_REF_SLUG }}"
          echo "base ref         : ${{ env.GITHUB_BASE_REF_SLUG }}"
          echo "event ref        : ${{ env.GITHUB_EVENT_REF_SLUG }}"
      - name: Slug variables (Case Sensitive)
        run: |
          echo "repository       : ${{ env.GITHUB_REPOSITORY_SLUG_CS }}"
          echo "repository owner : ${{ env.GITHUB_REPOSITORY_OWNER_PART_SLUG_CS }}"
          echo "repository name  : ${{ env.GITHUB_REPOSITORY_NAME_PART_SLUG_CS }}"
          echo "ref              : ${{ env.GITHUB_REF_SLUG_CS }}"
          echo "head ref         : ${{ env.GITHUB_HEAD_REF_SLUG_CS }}"
          echo "base ref         : ${{ env.GITHUB_BASE_REF_SLUG_CS }}"
          echo "event ref        : ${{ env.GITHUB_EVENT_REF_SLUG_CS }}"
        shell: bash
      - name: Slug URL variables
        run: |
          echo "repository       : ${{ env.GITHUB_REPOSITORY_SLUG_URL }}"
          echo "repository owner : ${{ env.GITHUB_REPOSITORY_OWNER_PART_SLUG_URL }}"
          echo "repository name  : ${{ env.GITHUB_REPOSITORY_NAME_PART_SLUG_URL }}"
          echo "ref              : ${{ env.GITHUB_REF_SLUG_URL }}"
          echo "head ref         : ${{ env.GITHUB_HEAD_REF_SLUG_URL }}"
          echo "base ref         : ${{ env.GITHUB_BASE_REF_SLUG_URL }}"
          echo "event ref        : ${{ env.GITHUB_EVENT_REF_SLUG_URL }}"
        shell: bash
      - name: Slug URL variables (Case Sensitive)
        run: |
          echo "repository       : ${{ env.GITHUB_REPOSITORY_SLUG_URL_CS }}"
          echo "repository owner : ${{ env.GITHUB_REPOSITORY_OWNER_PART_SLUG_URL_CS }}"
          echo "repository name  : ${{ env.GITHUB_REPOSITORY_NAME_PART_SLUG_URL_CS }}"
          echo "ref              : ${{ env.GITHUB_REF_SLUG_URL_CS }}"
          echo "head ref         : ${{ env.GITHUB_HEAD_REF_SLUG_URL_CS }}"
          echo "base ref         : ${{ env.GITHUB_BASE_REF_SLUG_URL_CS }}"
          echo "event ref        : ${{ env.GITHUB_EVENT_REF_SLUG_URL_CS }}"
        shell: bash
      - name: Ref Name
        run: |
          echo "raw                       : ${{ env.GITHUB_REF_NAME }}"
          echo "slug                      : ${{ env.GITHUB_REF_NAME_SLUG }}"
          echo "slug url                  : ${{ env.GITHUB_REF_NAME_SLUG_URL }}"
          echo "slug (Case Sensitive)     : ${{ env.GITHUB_REF_NAME_SLUG_CS }}"
          echo "slug url (Case Sensitive) : ${{ env.GITHUB_REF_NAME_SLUG_URL_CS }}"
        shell: bash
      - name: Short SHA variables
        run: |
          echo "sha              : ${{ env.GITHUB_SHA_SHORT }}"
          echo "pull request sha : ${{ env.GITHUB_EVENT_PULL_REQUEST_HEAD_SHA_SHORT }}"
        shell: bash
